.login-sign-container {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-card{
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-left: 50px;
    padding-right: 50px;
    width: 500px;
}
.login-sign-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-sign-form input{
    height: 40px;
    padding: 5px 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.login-sign-form button{
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.login-sign-form h1{
    margin-bottom: 20px;
    font-weight: 600;
}
.login-para{
    margin-top: 20px;
    
}
.login-sign-footer{
    margin-top: 20px;
}
.span-login{
    color: red;
    cursor: pointer;
}