.category-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.category-container {
height: 100vh;
width: 90%;
margin-left: 122px;
}
.banner{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
}
.sortby{
    height: 40px;
    width:120px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 100px;
}
.category-container ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}